body {
	background-color: #FBEEDE;
	margin-top: 5px;
	font-family: "veteran_typewriterregular", arial, sans-serif;
}
#perfil {
	background-color: #FBEEDE;
	width: 20%;
	overflow: auto;
	margin: auto;	
	float: left;
	margin-top: 5px;
	position: fixed;
}
#contenido {
	box-sizing: border-box;
	overflow: auto;
	width: 78%;
	margin-left: 1%;
	border-color: #fff; 
	border-left-width: medium;
	float:right;
	margin-top: 5px;
	padding: 2%;
}
.cuerpo {
	box-sizing: border-box;
	box-shadow: 0.1px 0.25rem 0.25rem #E5AA9D;
	transition: all 0.5s;
	padding: 0.5%;
	margin-top: 1%;
	border-color: #fff;
	border-top: 1%;
}
.cuerpo:hover {
	box-shadow: 0.5px 0.75rem 0.75rem #E5AA9D;		
}
h1 {
	margin-top: 0px;
}
#datos li{
	border-bottom-color: #E5AA9D;
	border-bottom-width: thin;
	border-bottom-style: dotted;	
}

img {
	align-items: center;
	padding-left: 2%;
	width: 90%;
	height: 90%;
}
#perfil img:first-child {
	filter: grayscale(100%);
}
li {
	padding: 1%;
	list-style-type: none;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	background-color: cyan;
}
#perfil ul{
	padding-left: 1%;
}
#perfil li{
	text-align: center;
	background-color: #DCCCAC;
	margin-top: 2.5%;
	padding: 1%;
	padding-left: 0;
	width:90%;
}
ul {font-size: 1rem;
	padding-left: 5%;
}
ul span {
	padding-left: 5%;
}
header {
	text-align: center;
}
@media only screen and (max-width: 768px) {
	#perfil {
		width: 100%;
		position: none;
	}
	#contenido {
		width: 100%;
	}
}