body {
	background-color: #86aac3;
	margin-top: 5px;
	font-family: "Roboto", arial, sans-serif;
}
#perfil {
	background-color: #86aac3;
	width: 20%;
	overflow: auto;
	margin: auto;
	float: left;
	margin-top: 5px;
	position: fixed;
}
#contenido {
	box-sizing: border-box;
	overflow: auto;
	width: 78%;
	margin-left: 1%;
	border-color: #fff;
	border-left-width: medium;
	float:right;
	margin-top: 5px;
	padding: 2%;
}
.cuerpo {
	box-sizing: border-box;
	transition: all 0.5s;
	padding: 0.5%;
	margin-top: 1%;
	border-color: #fff;
	border-top: 1%;
	border-radius: 1%;
}
/* Vamos a quitar el efecto de sombra del cuerpo al hacer hover.
.cuerpo:hover {
	box-shadow: 0.5px 0.25rem 0.25rem #05668d;
}
*/
h1 {
	margin-top: 0px;
}
#datos li{
	border-bottom-color: #ebf2fa;
	border-bottom-width: thin;
	border-bottom-style: dotted;
}
#portfolio li {
	border-bottom-style: none;
}
img {
	align-items: center;
	padding-left: 2%;
	width: 90%;
	height: 90%;
}
#perfil img:first-child {
	margin: auto;
	display: block;
	filter: grayscale(70%);
	border-radius: 50%;
}
#perfil img:last-child {
	filter: grayscale(50%);
	border-radius: 0%;
}
li {
	padding: 1%;
	list-style-type: none;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: #05668d;
}
a:visited {
	background-color: cyan;
}
#perfil ul{
	padding-left: 1%;
}
#perfil li{
	margin: auto;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 8%;
	padding: 1%;
	padding-left: 0;
	width: 40%;
}

ul {font-size: 1rem;
	padding-left: 5%;
}
ul span {
	padding-left: 5%;
}
header {
	text-align: center;
}

.skill div {
	margin:auto;
	border-radius: 10%;
	float: left;
	width: 13%;
	height: auto;
	align-items: center;
	text-align: center;
	transition: all 0.5s;
	padding: 1.5%;
	margin-top: 1%;
}
.skill div:hover {
	box-shadow: 0.5px 0.75rem 0.75rem #05668d;
}
.skill div img {
	width: 70%;
	height: 70%;
}

#formacion h3{
	float: none;
	clear: both;
	padding-top: 2%;
}

#portfolio {
	float: none;
	clear: both;
}
/* For mobile phones: */
@media only screen and (max-device-width: 768px) {
	#perfil {
		width: 100%;
		position: relative;
	}
	#contenido {
		width: 100%;
	}
	.skill div {
		width: 40%;
	}
}
